Q1. What is a database? Differentiate between SQL and NoSQL databases.

In computing, a database is an organized collection of data stored and accessed electronically. Small databases can be stored on a file system, while large databases are hosted on computer clusters or cloud storage.

SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in managing data in relational database management systems (RDBMS) since the 1970s. In the early years, when storage was expensive, SQL databases focused on reducing data duplication.

NoSQL is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and more flexibility to use a format that best fits the data. The term “NoSQL” was not coined until the early 2000s. It doesn’t mean the systems don’t use SQL, as NoSQL databases do sometimes support some SQL commands. More accurately, “NoSQL” is sometimes defined as “not only SQL.”

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In the context of SQL, data definition or data description language is a syntax for creating and modifying database objects such as tables, indices, and users. DDL statements are similar to a computer programming language for defining data structures, especially database schemas.

The CREATE TABLE command creates a new table in the database. For example:

In [ ]:
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

The ALTER TABLE command adds, deletes, or modifies columns in a table. For example:

In [ ]:
ALTER TABLE Customers
ADD Email varchar(255);

The DROP TABLE command deletes a table in the database.<br>For example: DROP TABLE Shippers;

On the other hand, the TRUNCATE TABLE command deletes the data inside a table, but not the table itself.<br>For example: TRUNCATE TABLE Categories;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A data manipulation language is a computer programming language used for adding, deleting, and modifying data in a database. A DML is often a sublanguage of a broader database language such as SQL, with the DML comprising some of the operators in the language.

The INSERT statement is used to insert new records in a table. For example:

In [ ]:
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');

The UPDATE statement is used to modify the existing records in a table. For example:

In [ ]:
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1;

The DELETE statement is used to delete existing records in a table. For example:

In [ ]:
DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';

Q4. What is DQL? Explain SELECT with an example.

Data query language is part of the base grouping of SQL sub-languages. These sub-languages are mainly categorized into four categories: a data query language, a data definition language, a data control language, and a data manipulation language. They can be used in order to query the data and information contained in schema objects. Their main goal of Data Query Language is to return a schema relation on the basis of the query supplied to them.

The SELECT statement is used to select data from a database. For example:

In [ ]:
SELECT CustomerName, City FROM Customers;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Here is the given Python code below to connect MySQL to Python:

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="abc", 
    password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

cursor() method: This method is used to make the connection for executing SQL queries. It acts as middleware between SQLite database connection and SQL query. It is created after giving connection to SQLite database.

execute() method: This method executes the given database operation, whether it is query or command. The parameters found in the form of tuple or dictionary are bound to the variables in the operation.

Q7. Give the order of execution of SQL clauses in an SQL query.

Order of Execution: Some SQL queries adhere to a specific order when evaluating clauses, similar to the mathematical operations like BODMAS. From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.

For example:

In [ ]:
SELECT O.name, SUM(O.quantity*P.price) AS total_spent
FROM Orders O
JOIN Products P ON O.product_id = P.id
WHERE P.name = 'Pen'
GROUP BY O.name
ORDER BY total_spent DESC
LIMIT 1 OFFSET 1;