Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [2]:
n = 10
sum = 0
for i in range(1, n+1):
    sum += i
print("The sum of first",n,"numbers is:",sum)

The sum of first 10 numbers is: 55

In [3]:
n = 10
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
print("The sum of first",n,"numbers is:",sum)

The sum of first 10 numbers is: 55

In [4]:
n = 10
product = 1
for i in range(1, n+1):
    product *= i
print("The product of first",n,"numbers is:",product)

The product of first 10 numbers is: 3628800

In [5]:
n = 10
product=1
i=1
while i<=n:
    product*=i
    i+=1
print("The product of first",n,"numbers is:",product)

The product of first 10 numbers is: 3628800

Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.


Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [7]:
units=int(input("Enter number of units:"))
if(units<=100):
    amount=units*4.5
elif(units<=200):
    amount=(100*4.5)+(units-100)*6
elif(units<=300):
    amount=(100*4.5)+(200-100)*6+(units-200)*10
else:
    amount=(100*4.5)+(200-100)*6+(300-200)*10+(units-300)*20
print(amount)

Enter number of units: 310

2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [8]:
div=[]
count=0
print("First 100 natural numbers:")
for i in range(1,101):
    num=i
    print(num)
print(" ")
print("First 100 cube numbers:")
for i in range(1,101):
    count+=1
    cube=i*i*i
    print(cube)
    if(cube%4==0 or cube%5==0):
        div.append(cube)
print(" ")
print("First 100 cube numbers, divisible by 4 or 5:", div)
print(" ")
print("*******************")
print("***LENGTH REPORT***")
print("*******************")
print("Length of the first 100 natural numbers from 1 to 100 is:",str(count))
print("Length of cube numbers which is divisible by 4 or 5 is:",str(len(div)))

First 100 natural numbers:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

First 100 cube numbers:
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

First 100 cube numbers, divisible by 4 or 5: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

*******************
***LENGTH REPORT***
*******************
Length of the first 100 natural numbers from 1 to 100 is: 100
Length of cube numbers which is divisible by 4 or 5 is: 60

In [9]:
div=[]
num=0
cube=0
print("First 100 natural numbers:")
while num<100:
    num+=1
    print(num)
print(" ")
print("First 100 natural numbers:")
while cube<100:
    cube+=1
    print(cube**3)
    if((cube**3)%4==0 or (cube**3)%5==0):
        div.append(cube**3)
print(" ")
print("First 100 cube numbers, divisible by 4 or 5:", div)
print(" ")
print("*******************")
print("***LENGTH REPORT***")
print("*******************")
print("Length of the first 100 natural numbers from 1 to 100 is:",str(num))
print("Length of cube numbers which is divisible by 4 or 5 is:",str(len(div)))

First 100 natural numbers:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

First 100 natural numbers:
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

First 100 cube numbers, divisible by 4 or 5: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

*******************
***LENGTH REPORT***
*******************
Length of the first 100 natural numbers from 1 to 100 is: 100
Length of cube numbers which is divisible by 4 or 5 is: 60

Q5. Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [11]:
string="I want to become a data scientist"
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels+=1
print("Given string:",string)
print("Number of vowels:",vowels)

Given string: I want to become a data scientist
Number of vowels: 12